:root {
  --principale: #19180A;
  --primaire: #A42CD6;
  --secondaire: #502274;
  --texte: #86A5D9;
  --liens: #26F0F1;
}

.app, body {
  margin:0;
  background-color: var(--principale);
  color:var(--texte);
}

input::placeholder{
  color:#B5B5B5;
}

input, textarea {
  background-color: var(--principale);
  color:white;
  width:80%;
  border-radius: 8px;
  height:30px;
  border:1px solid gray;
  padding:5px;
  font-size: 20px;
}

.btn{
  border-radius: 8px;
  border: 1px solid gray;
  padding:5px;
  cursor: pointer;
}
.btn.is-gray {
  background-color: #828282;
}

.span-btn {
  cursor: pointer;
  font-size: 20px;
}

.link {
  color:var(--liens);
  text-decoration: none;
}

.ligne-locked-item {
  margin-top:10px;
}
.colonne-number {width:25% !important;}

.ligne-locker {
  background-color:var(--secondaire);
  padding:5px 0px;
  border-radius:8px;
  height: 30px;
}

.liste-locker {
  padding:10px;
}

.btn-add {
  width: 100px;
  border-radius: 8px;
  border: none;
  background-color: #403f3f;
  color: white;
}