.nav-items ul{
    list-style-type: none;
    padding: 0;
}

.nav-item {
    padding:10px;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item a {
    color:var(--liens);
    text-decoration: none;
}

.nav-items {
    background-color: var(--primaire);
}